<h1 class = "c1">{{title}}</h1>

<!--ng if -->
<div *ngIf ="success_msg; else error_msg"> user added successfuly</div>

<ng-template #error_msg>
  user not added
</ng-template>


<!--ng for -->
<ul>
  <li *ngFor = "let contact of contacts; index as i; first as f">
    <div *ngIf ="f">
     this is first name 
    </div>
  <div>
    {{ i }} {{ contact.FirstName }} {{ contact.LastName }}
  </div>
  </li>
</ul>

<p>New Table with even and odd</p>
<ul>
  <li *ngFor = "let contact of contacts; even as e; odd as o">
    <div *ngIf ="e" style="background-color: #ddd;">
      {{ i }} {{ contact.FirstName }} {{ contact.LastName }}
    </div>
  <div *ngIf ="o" style="background-color: #ffffcc;">
    {{ i }} {{ contact.FirstName }} {{ contact.LastName }}
  </div>
  </li>
</ul>
 
<!--ng switch -->
<p>Learning ng switch</p>
<div [ngSwitch] = "superPower">
  <div *ngSwitchCase = "'wonderwoman'">Display wonder  woman</div>
  <div *ngSwitchCase = "'Superman'">Display Superman</div>
  <div *ngSwitchCase = "'Batman'">Display Batman</div>
  <div *ngSwitchDefault> Display default </div>
</div>

<!--ng style -->
<br>
<p>Learning ng style</p>
<div [ngStyle] = "{'background-color' : 'green'}">This is Green Div</div>
<div [ngStyle] = "{'background-color' : styleProp}">This is Dynamic Color Div</div>
<router-outlet></router-outlet>